<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>eticaret.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <display-name>eticaret</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>eticaret.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>eticaret.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecServlet</display-name>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <servlet-class>eticaret.servlet.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>eticaret.servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>OrderNowServlet</display-name>
    <servlet-name>OrderNowServlet</servlet-name>
    <servlet-class>eticaret.servlet.OrderNowServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>eticaret.servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>eticaret.servlet.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>upload</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>eticaret.servlet.upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>eticaret.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>eticaret.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>eticaret.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
</web-app>